.version {
    position: fixed;
    z-index: 1001;
    border-radius: 8px;
    padding: 4px;
    color: #000000;
    bottom: 5%;
    left: 5%;
    z-index: 1001;
    background-color: white;
    padding: 5px;
}

.parrafo-version {
    font-size: 13px;
    font-weight: bold;
    margin: 0px;
}